In [1]:
# Import Dependencies
import pandas as pd
import sklearn.preprocessing as skl
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt

In [2]:
# Read in the csv 
sales_df = pd.read_csv("Resources/Walmart.csv")
sales_df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [3]:
sales_df['Date'] = pd.to_datetime(sales_df['Date']) 
sales_df['Date'] = sales_df['Date'].dt.strftime('%m-%d-%Y')

C:\Users\Reid0\AppData\Local\Temp\ipykernel_14752\482424424.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  sales_df['Date'] = pd.to_datetime(sales_df['Date'])

In [4]:
sales_df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,02-19-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,02-26-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [5]:
# Extract the date from the dataframe
sales_df['Date'] = pd.to_datetime(sales_df['Date']).dt.date

In [ ]:
# Plot the weekly sales
plt.plot(sales_df["Weekly_Sales"], , marker='o', linestyle='-')

# Preprocessing

In [ ]:
# Use Preprocessing methods
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit_transform(sales_df['Weekly_Sales'])

In [ ]:
# Get our target and features arrays
y = sales_df['Weekly_Sales'].values
X = sales_df.drop['Weekly_Sales', axis=1].values
dtrain = xgb.DMatrix(data=X, label=y)

In [ ]:
# Split into testing and training set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

# First XGBOOST Model

In [ ]:
import xgboost as xgb
# Create the first XGBoost Model
params = {
    'objective': 'binary:logistic',  # for binary classification
    'eval_metric': 'logloss',        # logloss for binary classification
    'eta': 0.1,                     # learning rate
    'max_depth': 3,                 # maximum depth of the tree
    'min_child_weight': 1,          # minimum sum of instance weight (hessian) needed in a child
    'gamma': 0,                     # minimum loss reduction required to make a further partition on a leaf node
    'subsample': 0.8,               # subsample ratio of the training instance
    'colsample_bytree': 0.8,        # subsample ratio of columns when constructing each tree
    'seed': 42                      # random seed for reproducibility
}

# Train the model
num_rounds = 100  # Number of boosting rounds (iterations)
model = xgb.train(params, dtrain, num_rounds)

In [ ]:
# Calculate Accuracy
# Convert test data to DMatrix
dtest = xgb.DMatrix(data=X_test)

# Make predictions
y_pred = model.predict(dtest)

# Convert probabilities to binary predictions (0 or 1) based on a threshold
threshold = 0.5
y_pred_binary = [1 if pred > threshold else 0 for pred in y_pred]

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred_binary)
conf_matrix = confusion_matrix(y_test, y_pred_binary)

print("Accuracy:", accuracy)
print("Confusion Matrix:\n", conf_matrix

# Optimizing the Model

In [ ]:
# Optimize the model by dropping colums from the dataframe, etc and calculate accuracy again

# Optimize model one more time (If haven't reached 75% accuracy)

In [ ]:
# If accuracy is still not at 75% or higher, optimize the model one more time and calculate accuracy